<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Home</key>
	<string>$(TEST_VARIABLE_HOME)</string>
	<key>Shell</key>
	<string>$(TEST_VARIABLE_SHELL)</string>
	<key>User</key>
	<string>${TEST_VARIABLE_USER}</string>
	<key>Tools</key>
	<array>
		<string>$(TEST_VARIABLE_HAS_DEFAULTS)</string>
		<string>$(TEST_VARIABLE_HAS_FFMPEG)</string>
		<string>$(TEST_VARIABLE_HAS_GIT)</string>
		<string>$(TEST_VARIABLE_HAS_HG)</string>
		<string>$(TEST_VARIABLE_HAS_OPENSSL)</string>
		<string>$(TEST_VARIABLE_HAS_PYTHON)</string>
		<string>$(TEST_VARIABLE_HAS_SCUTIL)</string>
		<string>$(TEST_VARIABLE_HAS_SECURITY)</string>
		<string>$(TEST_VARIABLE_HAS_SHUTDOWN)</string>
		<string>$(TEST_VARIABLE_HAS_SVN)</string>
		<string>$(TEST_VARIABLE_HAS_WC)</string>
		<string>$(TEST_VARIABLE_HAS_XATTR)</string>
		<string>$(TEST_VARIABLE_HAS_XCRUN)</string>
		<string>$(TEST_VARIABLE_HAS_XCRUNNER)</string>
	</array>
</dict>
</plist>
